<section class="py-5 vstack gap-5">
    <div class="">
        <h2 class="text-center fs-1 "><span class="border-bottom border-success">أشهر المواضيع الخاصة بنا</span></h2>
    </div>
    <div>
        <div class="container">
            <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4 g-4">
                <div class="" *ngFor="let category of categoryList">
                    <div class="category-item card d-flex justify-content-between h-100 border-1">
                        <img [src]="category.image" class="card-img-top w-100 h-75" alt="{{ category.title }}">
                        <div class="d-flex flex-column m-0 ">
                            <h5 class="card-title m-0 p-0 fs-4 lead text-center">{{ category.title }}</h5>
                        </div>
                        <button class="btn btn-outline-success">..... المزيد</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>